.main-container {
  width: 8.5in;
  height: 11in;
  margin: 20px auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

/* CV3 */
.body-container3 {
  width: 100%;
  height: 80%;
  background-color: bisque;
  display: flex;
}

.left-container3 {
  width: 70%;
  height: 100%;
}

.right-container3 {
  width: 30%;
  height: 100%;
}

/* CV2 */
.body-container2 {
  width: 100%;
  height: 80%;
  background-color: bisque;
}

/* CV1 */

.body-container {
  width: 100%;
  height: 85%;
  background-color: white;
  display: flex;
}

.left-container {
  width: 35%;
  height: 100%;
  padding: 20px;
  background-color: #88817e;
  padding-right: 0px;
}

.right-container {
  width: 65%;
  height: 100%;
  padding: 20px;
}
